body {
  margin: 0;
  background: #001f3f;
  display: flex;
}

.lol {
  extends: lightBlueBackground from "./backgrounds.css";
  extends: fontSize24pt from "./b.css";
  color: white;
  padding: 2rem;
}
