@value foo: flex;

body {
  margin: 0;
  background: #001f3f;
  display: foo;
}

.lol {
  composes: lightBlueBackground from "./backgrounds.css";
  composes: fontSize24pt dashed-border from "./b.css";
  color: white;
  padding: 2rem;
  margin: 1rem;
  border-width: 1px;
}
