body {
  margin: 0;
  background: #001f3f;
  display: flex;
}

:local(.lol) {
  composes: lightBlueBackground from "./backgrounds.css";
  composes: fontSize24pt from "./b.css";
  color: white;
  padding: 2rem;
  margin: 1rem;
}
